MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/preptrack?retryWrites=true&w=majority
JWT_SECRET=preptrack_super_secret_key_change_this_in_production
PORT=5000
NODE_ENV=development
